:root {
    background-color: bisque;
}

* {
    box-sizing: border-box;
    margin: 5;
    padding: 5;
    font-family:Arial, Helvetica, sans-serif;
}

#question-header {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#answer-buttons {
    display:flex;
    justify-content: center;
    align-items: center;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn {
    background-color: peru;
    border-radius: 4px;
    color:white;
    border: none;
    padding: 10px 24px;
    width: 10rem;
    font-size: 12px;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: rosybrown;
}

#right-wrong {
    display:flex;
    justify-content: center;
    align-items: center;
}
